 <link rel="stylesheet" href="/css/user_profile.css">
 
 <h1>Users Profile Page/ <%= title%></h1>

  <p>Name: <%= user.name %></p>
  <p>Email: <%= user.email %></p>  
  <button id="signOutButton">Sign Out</button>

  <script>
    function deleteCookie(cookieName) {
            document.cookie = cookieName + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }

        var signOutButton = document.getElementById("signOutButton");

        signOutButton.addEventListener('click', function () {
            deleteCookie("sessionCookie");
            // Additional code for handling the sign-out process
        });
  </script>